.bag-selector{
  .single-bag {
    max-width: 45%;
    float: left;
    cursor: pointer;
    text-align: center;
    margin-right: 4.8%;
    margin-bottom: 20px;

    img {
      max-width: 100%;
      padding: 30px;
      height: 208px;
    }
  }
}