/*.tag-printer {

  .card {
    height: 700px;
    padding:0;
    background: #FFF;
    border-bottom: 2px solid green;

    img.card-head {
      width: 100%;
    }

    .name-layer {
      margin: 35px 0 10px;
      height: 350px;
      padding: 30px 10px 10px;
    }

    h1, h2, h3, h4 {
      font-family: "Open Sans", sans-serif!important;
    }

    h1 {
      font-size: 52px;
      letter-spacing: 0.3px;
      font-weight: 900;
      margin-top: 5px;
    }

    .company {
      font-size: 26px;
      font-weight: 200;
      letter-spacing: 1px;
    }

    .prefix {
      letter-spacing: 0.5px;
      font-weight: 300;
      padding: 5px;
      height:45px;
      margin-bottom: 5px;
    }

    .qr-code {
      margin-top: -120px;
      position:absolute;
      right:30px;

      img {
        width:120px;
        display: block;margin: 0 auto;
      }

    }

  }
}*/

.tag-printer {

  margin: 0 auto;
  display: block;

  .row {
    padding-left: 150px;
  }

  .my-col {
    @extend .col-md-6;
    width: 4.5in;
    margin-right:2px;
    margin-bottom: 10px;
  }

  .regular {
    .name-row {
      margin-left: -20px!important;
      padding-top: 0.42in!important;

      .prefix {
        font-size: 22px;
        margin-top:10px;
      }
    }
    .qr-code {
      right: 30px!important;
    }
  }

  .right {
    width: 4.7in;
    .regular {
      .name-row {
        margin-left: 0!important;
      }
      .qr-code {
        right: 10px!important;
      }
    }
  }

 .card {
   height: 4in;
   padding:0;
   background: #FFF;

   .name-layer {
     height: 1.4in;
   }

   .name-row {
     height: 1in;
     padding-top: 0.25in;
     color: #FFF;
     text-align: center;
   }

   .reverse {
     padding-top: .3in;
   }

   h1, h2, h3, h4 {
     font-family: "Open Sans", sans-serif!important;
     margin: 0;
   }

   .company {
     margin-top: 3px;
     font-weight: 200;
     font-size: 80%;
   }

   .prefix {
     font-weight: 400;
     height: 26px;
   }

   .qr-code {
     bottom: 0;
     position:absolute;
     right:-10px;

     h6 {
       font-weight: 200;
       margin: 0;
     }

     img {
       width:90px;
     }
   }

 }
}