.tag-printer {

  margin: 0 auto;
  display: block;

  .row {
    padding-left: 175px;
  }

  .my-col {
    @extend .col-md-6;
    width: 4.49in;
    margin-right: 2px;
    margin-top: -.8in;
    //margin-bottom: 10px;
  }

  .regular {
    /*    .name-row {
          margin-left: -20px!important;
          padding-top: 0.42in!important;

          .prefix {
            font-size: 22px;
            margin-top:10px;
          }
        }*/
    /*    .qr-code {
          left: 30px!important;
        }*/
  }

  .right {
    width: 4.7in;
    .regular {
      .name-row {
        margin-left: 0 !important;
      }
      /*      .qr-code {
              left: 30px!important;
            }*/
    }
  }

  .card {
    height: 4.19in;
    padding: 2px;
    background: #FFF;

    .name-layer {
      height: 2.1in;
    }

    .delegate {
      height: .1in;
    }

    .name-row {
      height: 1.5in;
      //padding-top: 0.25in;
      color: #FFF;
      text-align: center;
    }

    .reverse {
      padding-top: 1.3in;
    }

    h1, h2, h3, h4 {
      font-family: "Open Sans", sans-serif !important;
      margin: 0;
    }

    .company {
      margin-top: 3px;
      font-weight: 200;
      font-size: 80%;
    }

    .prefix {
      //font-weight: 400;
      //height: 26px;
    }

    .qr-code {
      bottom: 0;
      //position: absolute;
      left: 2px;

      h6 {
        font-weight: 200;
        margin: 0;
      }

      img {
        width: 90px;
      }
    }

  }

}