<div class="well hidden-print print-control text-center">
  Pages Visible: {{pagesVisible}}<br>
  Records Showing: {{currentFirstPage}} - {{lastPage}}<br><br>
  <button class="btn btn-danger" ng-click="remove100()">Remove Next 100</button>
</div>

<div class="book">
  <div class="page bp" ng-repeat="r in printData">
    <div class="subpage">
      <!--<div class="registrationCode" style="margin-left: 12.95cm !important; margin-top: 1px !important; font-size: smaller; font-family: monospace !important;"><span>{{r.registrationCode}}</span></div>-->
      <div class="surname"><span>{{r.surname.toLowerCase()}}</span></div>
      <div class="firstName"><span>{{r.firstName.toLowerCase()}}</span></div>
      <div style="margin-top: -4px !important;" class="middleName"><span>{{r.middleName.toLowerCase()}}</span></div>
      <div style="margin-top: -6px !important;" class="branch"><span>{{branch.length?branch.toLowerCase():r.branch.toLowerCase()}}</span>
      </div>
    </div>
  </div>

  <div class="page" data-ng-repeat="r in data">
    <div class="subpage">
      <ul class="no-margin list-unstyled membersList">
        <li data-ng-repeat="a in r">{{($parent.$index*45)+$index+1}}. {{a.firstName.toLowerCase()}}
          {{a.middleName.toLowerCase()}}
          {{a.surname.toLowerCase()}}
        </li>
      </ul>
    </div>

    <div class="page">
      <div class="subpage">
        <br><br><br>
        ------------------------------------
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Branch Chairman
      </div>
    </div>
  </div>
</div>

