<div class="container">
    <div class="panel panel-default">
        <div class="panel-body text-center"><h3>SANs, AGS &amp; BENCHERS</h3></div>
    </div>

    <div class="row">
        <form name="dataForm" ng-submit="dataForm.$valid && doSubmit(dataForm)">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="prefix">Prefix <span class="required">*</span></label>
                                    <input type="text" name="prefix" id="prefix" ng-model="registration.prefix"
                                           class="form-control" placeholder="Mr, Mrs, Chief, Dr, etc" autofocus>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="surname">Surname <span class="required">*</span></label>
                                    <input class="form-control" type="text" name="surname" id="surname" ng-model="registration.surname"
                                           placeholder="Surname" required>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="middleName">Middle Name</label>
                                    <input class="form-control" type="text" name="middleName" id="middleName" ng-model="registration.middleName"
                                           placeholder="Middle">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="firstName">First Name <span class="required">*</span></label>
                                    <input class="form-control" type="text" name="firstName" id="firstName" ng-model="registration.firstName"
                                           placeholder="First Name" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="suffix">Suffix</label>
                                    <input type="text" name="suffix" id="suffix" ng-model="registration.suffix"
                                           class="form-control" placeholder="SAN, MNI, MON, CON, GCON, etc.">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="yearCalled">Year of Call to Bar </label>
                                    <select class="form-control" name="yearCalled" ng-model="data.yearCalled" id="yearCalled">
                                        <option ng-repeat="y in years">{{y}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Conference Fee</label>
                                    <div class="form-price label label-primary">NGN {{registration.conferenceFee
                                        .formatMoney(2)}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="registration.group.san"> Senior
                                Advocate of Nigeria
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="registration.group.ag"> Attorney General
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="registration.group.bencher"> Life Bencher
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="branch">NBA Branch <span class="required">*</span></label>
                            <input class="form-control" type="text" name="branch" id="branch"
                                   ng-model="registration.branch" required>
                            <span class="help-block label label-danger" ng-show="dataForm.branch.$dirty && dataForm.branch.$error.required">Please enter your NBA Branch</span>
                        </div>

                        <div class="row">
                            <div ng-class="{'col-sm-6': registration.group.bencher||registration.group.ag, 'col-sm-12': !registration.group.bencher&&!registration.group.ag}">
                                <div class="form-group">
                                    <label for="company">Firm / Organization
                                        <span class="required">*</span>
                                    </label>
                                    <input class="form-control" type="text" name="company" id="company"
                                           ng-model="registration.company" placeholder="Firm / Organization" required>
                                </div>
                            </div>
                            <div class="col-sm-6" ng-show="registration.group.bencher || registration.group.ag">
                                <div class="form-group">
                                    <label for="_state">State </label>
                                    <input type="text" class="form-control" name="state" id="_state"
                                           ng-model="registration.state" placeholder="State">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="address">Address </label>
                            <input type="text" class="form-control" name="address" id="address"
                                   ng-model="registration.address" placeholder="Address">
                        </div>

                        <a tabindex="-1" class="btn btn-danger btn-block" ui-sref="offline_registrations"><i
                                class="fa fa-times"></i> CANCEL </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="mobile">Mobile Phone <span class="required">*</span> <small
                                            class="text-muted">eg: 08031231234</small>
                                    </label>
                                    <input class="form-control" type="tel" name="mobile" id="mobile" ng-model="registration.mobile"
                                           placeholder="Mobile Phone Number" ng-number="true" ng-minlength="11" ng-maxlength="11"
                                           required>
                                    <span class="help-block label label-danger" ng-show="dataForm.mobile.$dirty && dataForm.mobile.$error.required">Valid phone number is required</span>
                                    <span class="help-block label label-danger" ng-show="((dataForm.mobile.$error.minlength || dataForm.mobile.$error.maxlength) && dataForm.mobile.$dirty) ">Mobile Phone Number should be 11 digits</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Office Telephone Number </label>
                                    <input class="form-control" type="tel" name="phone" id="phone" ng-model="registration.phone"
                                           placeholder="Office Phone Number">

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email Address <span class="required">*</span> <em
                                    class="text-danger">Please provide a
                                valid email address.</em> </label>
                            <input type="email" class="form-control" name="email" id="email" ng-model="registration.email" placeholder="Email Address" required>
                             <span class="help-block label label-danger"
                                   ng-show="dataForm.email.$dirty && (dataForm.email.$error.required || dataForm.email.$error.email)">Please provide a valid email address
                            </span>
                        </div>

                        <div ng-hide="registration.statusConfirmed">
                            <div class="form-group">
                                <label for="datePaid">Date of Payment <span class="required">*</span> </label>
                                <div class="dropdown">
                                    <a class="dropdown-toggle my-toggle-select" id="dLabel2" role="button" data-toggle="dropdown" data-target="#" href="">
                                        <input type="text" class="form-control" ng-model="registration.bankDatePaid"
                                               placeholder="Date of Payment" id="datePaid" required>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel2">
                                        <datetimepicker ng-model="registration.bankDatePaid"
                                                        ng-required="true"
                                                        data-datetimepicker-config="{ minView:'day', dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="bankDeposit">Amount Paid <span class="required">*</span> </label>
                                <input class="form-control" type="text" name="bankDeposit"
                                       ng-model="registration.bankDeposit" id="bankDeposit" placeholder="Amount Paid"
                                       required>
                            </div>

                            <div class="form-group">
                                <label for="bankTeller">Teller No. / Narration <span class="required">*</span> </label>
                                <input class="form-control" id="bankTeller" type="text" name="bankTeller"
                                       ng-model="registration.bankTeller" placeholder="Teller No / Narration" required>
                            </div>

                            <div class="form-group">
                                <label for="bankBranch">Bank Branch</label>
                                <input class="form-control" id="bankBranch" type="text" name="bankBranch"
                                       ng-model="registration.bankBranch" placeholder="Bank Branch">
                            </div>
                        </div>

                        <button type="submit"
                                class="btn btn-block btn-success" style="margin-top: 50px;"
                                ng-disabled="dataForm.$invalid"> <i
                                class="fa fa-play"></i>
                            SUBMIT FORM <i class="fa fa-check"></i>
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>