<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" ui-sref="dashboard"><span class="glyphicon glyphicon-plus"></span> NBA AGC
            <strong>Admin</strong></a>
    </div>
    <div collapse="isCollapsed" class="pull-right navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
          <li ng-show="isGuest()"><a ui-sref="login">Login</a></li>

          <li ng-show="isGuest()"><a ui-sref="branch_editor">BRANCH EDITOR</a></li>

          <li class="dropdown" ng-hide="isGuest()">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">REGISTRATIONS MANAGEMENT
                  <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a ui-sref="main.successful">INDIVIDUAL REGISTRATIONS</a></li>

                  <li><a ui-sref="group.successful">GROUP REGISTRATIONS</a></li>

                  <li><a ui-sref="offline_registrations">OFFLINE REGISTRATIONS</a></li>

                  <li><a ui-sref="sponsors">SPONSOR REGISTRATIONS</a></li>

                  <li><a ui-sref="materials.bybranch">MATERIAL SORTING</a></li>

                  <li><a ui-sref="branch_editor">BRANCH EDITOR</a></li>

                  <li><a ui-sref="bank_errors">ERRORS</a></li>

                  <li ng-hide="isGuest()"><a ui-sref="members">LAWYERS LIST</a></li>

                  <li><a ui-sref="user_account_mgt">ACCOUNT MANAGEMENT</a></li>

              </ul>
          </li>

          <li class="dropdown" ng-hide="isGuest()">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">CONFERENCE MANAGEMENT
                  <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a ui-sref="speakers">CONFERENCE SPEAKERS</a></li>

                  <li><a ui-sref="sessions">CONFERENCE SESSIONS</a></li>

                  <li><a ui-sref="certificates.branches">PRINT CERTIFICATES</a></li>

                  <li><a ui-sref="name_tags.staged_unprinted">NAME TAGS</a></li>

                  <li><a ui-sref="custom_tag_printer">CUSTOM TAG PRINTER</a></li>

                  <li><a ui-sref="onsite_reg">ONSITE REGISTRATION</a></li>

              </ul>
          </li>

          <li ng-hide="isGuest()"><a ui-sref="fast_track.bySearch">FAST TRACK</a></li>

          <li ng-hide="isGuest() || notAdmin()"><a ui-sref="user_accounts">ADMIN ACCOUNTS</a></li>

          <li ng-hide="isGuest()"><a ng-click="logout()" class="btn-link"> <i
                  class="glyphicon glyphicon-off"></i>
              Logout ({{$user.name}})
          </a></li>
      </ul>
    </div>
</div>
