<div ng-include="'components/navbar/navbar.html'"></div>

<div class="jumbotron">
  <div class="container">
    <h2>
      Unresolved Bank Registration (Access bank)
      <!--<div class="pull-right">-->
        <!--<form class="form-inline" name="mForm" ng-submit="mForm.$valid && doLookup()">-->
          <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" ng-model="term" autofocus required-->
                   <!--placeholder="REGISTRATION CODE, NAME, PHONE, EMAIL">-->
          <!--</div>-->
          <!--<button class="btn btn-success" ng-disabled="mForm.$invalid"><i class="glyphicon glyphicon-search"></i>-->
            <!--Search</button>-->
        <!--</form>-->
      <!--</div>-->
    </h2>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Data Found - {{bankData.length}}
    </div>
    <div class="panel-body main-grid">
      <div class="row">
        <table class="table table-hover table-responsive table-striped" datatable="ng">
          <thead class="bg-success">
          <tr>
            <th>Name</th>
            <!--<th>Code</th>-->
            <th>Amount Remitted</th>
            <th>Category</th>
            <th>Email</th>
            <th>Deposit Slip</th>
            <th>Enrollment No</th>
            <th>Branch</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-hide="m.resolved==true || m.deleted==true" ng-class="{info:m.status == true,danger:m.status == false}"
              ng-repeat="m in bankData track by $index">
            <td>{{m.Prefix}} {{m.Call_FirstName}} {{m.Call_MiddleName}} <b>{{m.Call_Surname}}</b></td>
            <!--<td>{{m.regCode}}-{{m.conferenceFee}}</td>-->
            <!--<td>N {{formatMoney(m.conferenceFee)}}</td>-->
            <td>N{{m.AmountRemitted}}</td>
            <td>{{m.Category}}</td>
            <td>{{m.email}}</td>
            <td>{{m.DepositSlipNo}}</td>
            <td>{{m.EnrolmentNo}}</td>
            <td>{{m.Branch}}</td>
            <td >
              <button ng-show="m.status == undefined" ng-click="checkData(m,$index)" class="btn btn-info" style="margin-bottom:3px; font-size: 12px"><i
                class="fa fa-database"></i>Check
                Data</button>
              <button ng-hide="m.done || m.payment == true" ng-if="m.status == true" ng-click="processData(m,$index)" class="btn btn-success" style="margin-bottom:3px; font-size: 12px"><i class="fa fa-check-square-o"></i>Process</button>
              <button ng-hide="m.done || m.payment == true" ng-click="editMember(m,$index)" class="btn btn-success" style="margin-bottom:3px; font-size: 12px"><i class="fa fa-edit"></i>Edit</button>
              <button  ng-show="m.payment == true"  class="btn btn-danger" style="margin-bottom:3px; font-size: 12px"><i class="fa fa-check-circle"></i>Data Already Confirmed</button>
              <button  ng-show="m.payment == true" ng-click="deleted(m,$index)" class="btn btn-danger" style="margin-bottom:3px; font-size: 12px"><i class="fa fa-trash"></i>Mark Resolved</button>
              <!--<button ng-if="false" ng-click="checkSCN(m,$index)" class="btn btn-primary" style="margin-bottom:3px; font-size: 12px"><i class="fa fa-search"></i>SCN Check</button>-->
              <button ng-hide="m.done" ng-if="m.status == false" ng-click="processData(m,$index)" class="btn btn-success" style="margin-bottom:3px; font-size: 12px"><i class="fa fa-edit"></i>Create Registration</button>

              <button ng-show="m.done" ng-if="m.status == false"  class="btn btn-info" style="margin-bottom:3px; font-size: 12px"><i class="fa fa-check-circle"></i>Data Processed</button>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
