<div class="modal-header">
  <h4><i class="fa fa-edit"></i> Edit Registration Data
    <button class="btn btn-xs btn-danger pull-right" ng-click="closeModal()"><i class="fa fa-times"></i></button>
  </h4>

</div>
<div class="modal-body">
  <form name="memberForm" ng-submit="memberForm.$valid && UpdateRegistration()" class="form form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">Enrollment. Number <span class="required">*</span></label>
      <div class="col-sm-8">
        <input type="text" class="form-control" ng-model="selectedMember.EnrolmentNo"
               value="{{selectedMember.EnrolmentNo}}" required>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-4 control-label">Prefix</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Hon. Justice, etc"
               ng-model="selectedMember.Prefix">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">First Name <span class="required">*</span> </label>
      <div class="col-sm-8">
        <input type="text" placeholder="FIRST NAME" class="form-control"
               ng-model="selectedMember.Call_FirstName"
               ng-value="selectedMember.Call_FirstName"
               required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Surname <span class="required">*</span> </label>
      <div class="col-sm-8">
        <input type="text" placeholder="SURNAME" class="form-control" ng-model="selectedMember.Call_Surname"
               required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Middle Name </label>
      <div class="col-sm-8">
        <input type="text" placeholder="MIDDLE NAME" class="form-control"
               ng-model="selectedMember.Call_MiddleName">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Email <span class="required">*</span> </label>
      <div class="col-sm-8">
        <input type="email" placeholder="EMAIL ADDRESS" class="form-control"
               ng-model="selectedMember.email" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Year Of Call </label>
      <div class="col-sm-8">
        <input type="text" placeholder="Year Of Call" class="form-control"
               ng-model="selectedMember.YearCalled" >
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Address </label>
      <div class="col-sm-8">
        <input type="text" placeholder="Address" class="form-control"
               ng-model="selectedMember.Address" >
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Amount Paid <span class="required">*</span></label>
      <div class="col-sm-8">
        <input type="text" placeholder="Amount Paid" class="form-control"
               ng-model="selectedMember.AmountRemitted" required>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Phone Number <span class="required">*</span> </label>
      <div class="col-sm-8">
        <input class="form-control" type="text" name="phone"
               ng-model="selectedMember.MobileNumber" placeholder="Registered Phone Number" ng-minlength="10"
               ui-us-phone-number required>

        <div class="text-center">
          <small class="text-danger" ng-show="memberForm.phone.$error.phone">
            Please enter a valid Phone Number
          </small>
        </div>
      </div>
    </div>

    <!--<pre>{{selectedMember|json}}</pre>-->
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="memberForm.$invalid" type="submit" ng-click="memberForm.$valid && UpdateRegistration()">
    <i class="fa fa-save m-r-10"></i> Save Changes</button>
  <button class="btn btn-danger pull-left" ng-click="closeModal()"><i class="fa fa-times"></i> Cancel</button>
</div>
