.success{
  .panel {
    h4 {
      text-transform: uppercase;
      color: $alert-success-text;
    }
  }
}

.pending{
  .panel {
    h4 {
      text-transform: uppercase;
      color: $alert-danger-text;
    }
  }
}