<div ng-include="'components/navbar/navbar.html'"></div>

<div class="jumbotron">
    <div class="container">
        <h2>All User Accounts</h2>
    </div>
</div>

<div ui-view></div>

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                ALL USERS
            </div>
            <div class="panel-body main-grid">
                <div class="row">
                    <table class="table table-hover table-striped" datatable="ng">
                        <thead class="bg-primary">
                        <tr>
                            <th class="col-sm-1">S/N</th>
                            <th>Email Address</th>
                            <th>Name</th>
                            <th>Bag</th>
                            <th>Last Modified</th>
                            <th style="width: 60px;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="r in users">
                            <td>{{$index+1}}</td>
                            <td>{{r.email}}</td>
                            <td>{{r.name}}</td>
                            <td>{{r.bag}}</td>
                            <td>{{ago(r.lastModified)}}</td>
                            <td>
                                <button class="btn btn-xs btn-block btn-danger" ng-click="resetPassword(r)">Reset
                                    Password
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>