<div ng-include="'components/navbar/navbar.html'" ng-hide="doingPrint"></div>

<div class="jumbotron" ng-hide="doingPrint">
    <div class="container">
        <h2>Onsite Registration
        </h2>
    </div>
</div>

<div class="container" ng-if="!doingPrint">
    <form name="tagForm" ng-submit="tagForm.$valid && printTags(tagForm)">
        <div class="row">
            <div class="col-md-9 ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">ADD NEW DELEGATE
                            <a href="" ng-click="makeGroup()" class="label label-primary pull-right">GROUP</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <label class="col-xs-2" for="leftTitle">Title</label>
                            <select class="col-xs-9" ng-model="tag.prefix" ng-options="item for item in titles"
                                    id="leftTitle"></select>
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-2" for="leftFirstName">First Name <span class="required">*</span> </label>
                            <input class="col-xs-9" ng-model="tag.firstName" id="leftFirstName" required>
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-2" for="leftSurname">Surname <span class="required">*</span> </label>
                            <input class="col-xs-9" ng-model="tag.surname" id="leftSurname" required>
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-2" for="leftSuf">Suffix</label>
                            <select class="col-xs-9" ng-model="tag.suffix" ng-options="item for item in suffixes"
                                    id="leftSuf"></select>
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-2" for="leftBranch">Select Branch </label>
                            <select class="col-xs-9" ng-model="tag.branch" ng-options="item.name as item.name for item in branches track by item._id" id="leftBranch"></select>
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-2" for="leftCompany">Organisation </label>
                            <input type="text" class="col-xs-9" ng-model="tag.company" id="leftCompany">
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-2" for="leftPhone">Phone <span class="required">*</span> </label>
                            <input required type="tel" class="col-xs-9" ng-model="tag.phone" id="leftPhone">
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-2" for="leftEmail">Email <span class="required">*</span> </label>
                            <input required class="col-xs-9" ng-model="tag.email" id="leftEmail">
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-2" for="leftAmount">Amount Paid </label>
                            <input type="number" class="col-xs-9" ng-model="tag.Amount" id="leftAmount">
                        </div>
                        <div class="form-group row">
                            <label class="col-xs-2" for="leftYearCalled">Year Of Call </label>
                            <input pattern="" maxlength="4" class="col-xs-9" ng-model="tag.yearCalled" id="leftYearCalled">
                        </div>
                        <div ng-if="isGroup" class="form-group row">
                            <label class="col-xs-2" for="leftGroup">Group <span class="required">*</span></label>
                            <select class="col-xs-9" ng-model="tag.group" ng-options="item.groupName as item.groupName for item in groups track by item._id"
                                    id="leftGroup"></select>
                        </div>
                        <div ng-if="isGroup" class="form-group row">
                            <label class="col-xs-2" for="leftDistinctGroup">Group Rep. <span class="required">*</span> </label>
                            <select class="col-xs-9" ng-model="tag.owner" ng-options="item._id as item.groupName for item in distinctGroups track by item._id"
                                    id="leftDistinctGroup"></select>
                        </div>
                    </div>
                </div>
                <div class="btn-group" ng-if="!isGroup">
                    <button class=" btn-success btn " ng-click="registerAndPrint(tagForm)" ng-disabled="tagForm.$invalid"><i
                            class="glyphicon glyphicon-book"></i> REGISTER & PRINT
                    </button>
                </div>

                <div class="btn-group pull-right" ng-if="isGroup">
                    <button class=" btn-primary btn " ng-click="registerAndPrintGroupMember(tagForm)" ng-disabled="tagForm.$invalid"><i
                            class="glyphicon glyphicon-book"></i> REGISTER GROUP MEMBER & PRINT
                    </button>
                    <button class="btn  btn-success" ng-click="registerAndPrintGroupAdmin(tagForm)" ng-disabled="tagForm.$invalid">
                        <i class="fa fa-user"></i>
                        REGISTER GROUP REP. & PRINT
                    </button>
                </div>
            </div>

            <!--Secion to Add new Group-->
            <div class="col-md-3" ng-if="isGroup">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Add New Group
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <label class="col-xs-4 col-md-4" for="leftTitle">Group</label>
                            <input type="text" class="col-xs-7 col-md-7" ng-model="group.groupName"/>
                        </div>
                    </div>
                </div>
                <button class="btn-xs btn-primary btn" ng-click="addGroup(group)">
                    <i class="fa fa-group"></i> ADD GROUP
                </button>
            </div>
        </div>
    </form>
</div>

<div class="container tag-printer" ng-if="doingPrint">

    <div class="row">
        <!--
                <div class="my-col text-center" ng-repeat="tag in nameTags" ng-class="{'right':($index%2)}">
                    <div class="card" style="-webkit-transform: rotate(180deg);">
                        <div class="name-layer"></div>
                        <div class="name-row reverse" contenteditable>
                            <h3 class="prefix text-ellipsis"><span ng-hide="tag.title.toLowerCase().indexOf('mr')>-1||tag.title.toLowerCase().indexOf('mis')>-1">{{tag.title}}</span></h3>
                            <h1 class="text-uppercase">{{tag.name}} <small>{{tag.suffix}}</small></h1>
                            <h4 class="text-uppercase company text-ellipsis">{{tag.company}}</h4>
                        </div>
                        <div class="qr-code">
                            <h6>{{tag.code}}</h6>
                            <img
                                    ng-src="/api/registrations/qrCodeInstant?name={{tag.name}}&company={{tag.company}}&phone={{tag.phone}}">
                        </div>
                    </div>
                    <div class="card regular">
                        <div class="name-layer"></div>
                        <div class="name-row" contenteditable>
                            <h3 class="prefix text-ellipsis"><span ng-hide="tag.title.toLowerCase().indexOf('mr')>-1||tag.title.toLowerCase().indexOf('mis')>-1">{{tag.title}}</span></h3>
                            <h1 class="text-uppercase">{{tag.name}} <small>{{tag.suffix}}</small></h1>
                            <h4 class="text-uppercase company text-ellipsis">{{tag.company}}</h4>
                        </div>
                        <div class="qr-code">
                            <img
                                    ng-src="/api/registrations/qrCodeInstant?name={{tag.name}}&company={{tag.company}}&phone={{tag.phone}}">
                        </div>
                    </div>
                </div>
        -->

        <div class="my-col page text-center"> <!--ng-repeat="tag in nameTags"--> <!-- ng-class="{'right':($index%2)}" -->

            <div class="card" style="-webkit-transform: rotate(180deg);">

                <div style="background-color: #1f981b;" class="name-layer"></div>

                <div style="background-color: #002a80;" class="name-row" contenteditable>
                    <h3 class="text-uppercase prefix text-ellipsis"><span
                            ng-show="tag.prefix.toLowerCase().indexOf('dr')>-1 || tag.prefix.toLowerCase().indexOf('prof')>-1 || tag.prefix.toLowerCase().indexOf('hon')>-1 || tag.prefix.toLowerCase().indexOf('chief')>-1 || tag.prefix.toLowerCase().indexOf('sir')>-1 || tag.prefix.toLowerCase().indexOf('capt')>-1 || tag.prefix.toLowerCase().indexOf('alhaji')>-1 || tag.prefix.toLowerCase().indexOf('major')>-1 || tag.prefix.toLowerCase().indexOf('prince')>-1 || tag.prefix.toLowerCase().indexOf('elder')>-1 || tag.prefix.toLowerCase().indexOf('lady')>-1 || tag.prefix.toLowerCase().indexOf('hon. justice')>-1 || tag.prefix.toLowerCase().indexOf('hrh')>-1 || tag.prefix.toLowerCase().indexOf('rev')>-1">{{tag.prefix}}</span>
                    </h3>
                    <h2 style="font-weight: 900;" class="text-uppercase">{{tag.firstName}}

                    </h2>
                    <h1 style="font-weight: 900;" class="text-uppercase">{{tag.surname}}
                        <small ng-show="tag.suffix.toLowerCase().indexOf('jp')>-1 || tag.suffix.toLowerCase().indexOf('san')>-1 ||tag.suffix.toLowerCase().indexOf('ofr')>-1 || tag.suffix.toLowerCase().indexOf('oon')>-1 ||tag.suffix.toLowerCase().indexOf('mon')>-1 || tag.suffix.toLowerCase().indexOf('gcon')>-1 || tag.suffix.toLowerCase().indexOf('cfr')>-1">
                            {{
                            tag.suffix }}
                        </small>
                    </h1>

                    <h5 ng-if="tag.branch" class="text-uppercase branch print" style="color: #aba7ac !important;">{{tag.branch}} BRANCHby </h5>
                </div>
                <div style="background-color: #ffd66a;" class="delegate">
                    <img ng-src="/api/registrations/qrCodeInstant?firstName={{tag.firstName}}&surname={{tag.surname}}&branch={{tag.branch}}&phone={{tag.phone}}&email={{tag.email}}&suffix={{tag.suffix}}">
                </div>

                <div class="qr-code">
                    <h4 class="text-uppercase text-ellipsis pull-left"> {{tag.registrationCode}}</h4>
                </div>
            </div>

            <div class="card regular">

                <div style="background-color: #1f981b;" class="name-layer"></div>

                <div style="background-color: #002a80;" class="name-row" contenteditable>
                    <h3 class="text-uppercase prefix text-ellipsis"><span
                            ng-show="tag.prefix.toLowerCase().indexOf('dr')>-1 || tag.prefix.toLowerCase().indexOf('prof')>-1 || tag.prefix.toLowerCase().indexOf('hon')>-1 || tag.prefix.toLowerCase().indexOf('chief')>-1 || tag.prefix.toLowerCase().indexOf('sir')>-1 || tag.prefix.toLowerCase().indexOf('capt')>-1 || tag.prefix.toLowerCase().indexOf('alhaji')>-1 || tag.prefix.toLowerCase().indexOf('major')>-1 || tag.prefix.toLowerCase().indexOf('prince')>-1 || tag.prefix.toLowerCase().indexOf('elder')>-1 || tag.prefix.toLowerCase().indexOf('lady')>-1 || tag.prefix.toLowerCase().indexOf('hon. justice')>-1 || tag.prefix.toLowerCase().indexOf('hrh')>-1 || tag.prefix.toLowerCase().indexOf('rev')>-1">{{tag.prefix}}</span>
                    </h3>
                    <h2 style="font-weight: 900;" class="text-uppercase">{{tag.firstName}}

                    </h2>
                    <h1 style="font-weight: 900;" class="text-uppercase">{{tag.surname}}
                        <small ng-show="tag.suffix.toLowerCase().indexOf('jp')>-1 || tag.suffix.toLowerCase().indexOf('san')>-1 ||tag.suffix.toLowerCase().indexOf('ofr')>-1 || tag.suffix.toLowerCase().indexOf('oon')>-1 ||tag.suffix.toLowerCase().indexOf('mon')>-1 || tag.suffix.toLowerCase().indexOf('gcon')>-1 || tag.suffix.toLowerCase().indexOf('cfr')>-1">
                            {{
                            tag.suffix }}
                        </small>
                    </h1>

                    <h5 ng-if="tag.branch" class="text-uppercase branch print" style="color: #aba7ac !important;">{{tag.branch}} BRANCH</h5>
                </div>
                <div style="background-color: #ffd66a;" class="delegate">
                    <img ng-src="/api/registrations/qrCodeInstant?firstName={{tag.firstName}}&surname={{tag.surname}}&branch={{tag.branch}}&phone={{tag.phone}}&email={{tag.email}}&suffix={{tag.suffix}}">
                </div>


                <div class="qr-code">
                    <h4 class="text-uppercase text-ellipsis pull-left"> {{tag.registrationCode}}</h4>
                </div>
            </div>
        </div>

    </div>
    <div class="hidden-print text-center">
        <button class="btn-danger btn" ng-click="cancelPrint()"> CANCEL</button>
    </div>
</div>
