<div class="modal-header">
  <h4><i class="fa fa-edit"></i> Payment Form
    <button class="btn btn-xs btn-danger pull-right" ng-click="closeModal()"><i class="fa fa-times"></i></button>
  </h4>

</div>
<div class="modal-body">
  <form name="paymentForm" ng-submit="paymentForm.$valid &&  submitPayment()" class="form form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">Date Paid <span class="required">*</span></label>
      <div class="col-sm-8">
        <input type="text" class="form-control" placeholder="Date Group Made payment"
               ng-model="paymentDetails.bankDatePaid"
               required>
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-4 control-label">Amount Paid <span class="required">*</span> </label>
      <div class="col-sm-8">
        <input type="number" placeholder="Amount Paid" class="form-control" ng-model="paymentDetails.bankDeposit" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Bank Teller No <span class="required">*</span> </label>
      <div class="col-sm-8">
        <input type="text" placeholder="Teller No / Transaction details" ng-model="paymentDetails.password"
               class="form-control"
               required>
      </div>
    </div>

    <!--<pre>{{selectedMember|json}}</pre>-->
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="paymentForm.$invalid" ng-click="submitPayment()" type="submit">
    <i class="fa fa-save m-r-10"></i>Confirm</button>
  <button class="btn btn-danger pull-left" ng-click="closeModal()"><i class="fa fa-times"></i> Cancel</button>
</div>
