<div class="container">

    <group-members invoice="selectedInvoice" ng-show="selectedInvoice"></group-members>

    <div class="panel panel-default">
        <div class="panel-heading">
            All Confirmed Registrations ({{invoices.length}})
            <div class="pull-right">
                {{countDelegates(invoices)}} DELEGATES
            </div>
        </div>
        <div class="panel-body main-grid">
            <div class="row">
                <table class="table table-hover table-striped" datatable="ng">
                    <thead class="bg-success">
                    <tr>
                        <th>Group Name</th>
                        <th>Contact Details</th>
                        <th>Order ID</th>
                        <th>Amount Paid</th>
                        <th>Payment Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in invoices">
                        <td><span title="{{r._group.phone}}">{{r._group.groupName}} ({{r.registrations.length}})</span></td>
                        <td>{{r._group.email}}<br>{{r._group.phone}}</td>
                        <td>{{r.code+'-'+r.invoiceAmount}}</td>
                        <td>NGN {{formatMoney(r.webpay?r.Amount:r.bankDeposit)}}</td>
                        <td>{{(r.webpay?r.DateTime:r.bankDatePaid) | date}}</td>
                        <td>
                            <button class="btn btn-xs btn-success" type="button" ng-click="showMembers(r)">DETAILS </button>
                            <span class="label label-success"
                                  ng-show="r.successTextSent">SMS</span> <span class="label label-primary"
                                                                               ng-show="r.successMailSent">MAIL
                        </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>