<div class="container">

    <group-members invoice="selectedInvoice" ng-show="selectedInvoice"></group-members>

    <div class="panel panel-default">
        <div class="panel-heading">
            All Successful Bank Payments ({{invoices.length}})
        </div>
        <div class="panel-body main-grid">
            <div class="row">
                <table class="table table-hover table-striped" datatable="ng">
                    <thead class="bg-primary">
                    <tr>
                        <th>Group Name</th>
                        <th>Contact</th>
                        <th>Order ID</th>
                        <th>Conference Fee</th>
                        <th>Amount Paid</th>
                        <th>Teller No.</th>
                        <th>Bank Branch</th>
                        <th>Payment Date</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in invoices">
                        <td>{{r._group.groupName}} ({{r.registrations.length}})</td>
                        <td>{{r._group.email}}<br>{{r._group.phone}}</td>
                        <td>{{r.code+'-'+r.invoiceAmount}}</td>
                        <td>NGN {{r.invoiceAmount.formatMoney(2)}}</td>
                        <td>NGN {{formatMoney(r.bankDeposit)}}</td>
                        <td>{{r.bankTeller}}</td>
                        <td>{{r.bankBranch}}</td>
                        <td>{{r.bankDatePaid | date}}</td>
                        <td><button class="btn btn-xs btn-success" type="button" ng-click="showMembers(r)">DETAILS
                        </button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>